
# Игнорировать файлы окружения
.env
venv

# Игнорировать кеш-папки и байт-код Python
__pycache__/
*.pyc

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать IDE/редакторские файлы
.vscode/
.idea/
proxy_afisha/